* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.btn {
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 30px !important;
    text-align: center;
    display: flex; 
    margin: auto;
}
.btn a {
    text-decoration: none;
    color: #fff;
 
}

h1{
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin: 40px 0 20px;
}
.img404 img{
    margin: auto;
    display: flex; 
    border-radius: 5px;
    width: 800px;
    height: 400px;
   
}
.imgInscription img{
    margin: auto;
    display: flex; 
    border-radius: 5px;
    width: 200px;
    height: 200px;
   
}

.myBody{
    min-height: 820px;
    background-size: cover;
    background-attachment: fixed;
    color: #3f0060;
    text-align: center;
    padding: 20px;
}
.imgLogo{
    width: 60px;
}
nav, .myFooter{
    background-color: rgba(134, 203, 230, 0.7);
}
.colorPurpel{
    background-color: #eded1c;
    color: white;
}